# Environment
.env

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/

# Node
site/node_modules/
site/dist/

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
